<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TmdbMoviesApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EFF965A2739E09700B7B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EFF96702739E09A00B7B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EFF967A2739E09A00B7B616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
